@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg: #1b1a1a;
  --banner-bg: #232323;
  --fg: rgba(247, 247, 246, 0.92);
  --blue: #00b2e9;
  --yellow: #f8a230;
  --bold: "Genos", "Impact", "Roboto", "Helvetica Neue", sans-serif;
  --regular: "Montserrat", "Helvetica", sans-serif;
  --thin: "Montserrat", "Roboto", "Helvetica Neue", sans-serif;
  }

  * {
    /*! box-sizing: border-box; */
    margin: 0; padding: 0;
  }

  body {
    font-family: var(--regular);
    line-height: 1.4rem;
    background: var(--bg);
    color: var(--fg);
    font-weight: 400;
  }

  .banner-main-container {
    background: var(--banner-bg);
    color: var(--fg);
    text-align: center;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--fg);
    height: 185px;
  }

  .banner-title {
    font-family: var(--bold);
    font-size: 4.5rem;
    letter-spacing: -1px;
    font-weight: 800;
    margin-top: -0.5ch;
  }

  .thin {
    font-family: var(--thin);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .project-box p.genos {
    font-size: 1rem;
    font-family: "Arial Narrow", "Helvetica Neue", impact, sans-serif;
    font-weight: 100;
    color: var(--fg);
}

  .banner-subtitle {
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.8rem;
    color: var(--blue);
    margin: -15px auto 0 auto;
  }

  .main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2em 0;
    gap: 2em;
    padding-inline: 3rem;
  }

  .left-section, .center-section, .right-section {
    background: transparent;
    padding: 1.5em;
  }

  .intro > p,
  p.subline,
  .personal-details-intro > p,
  p.personal-details-subline {
    font-family: var(--thin);
    text-align: justify;
  }

  .left-section {
    flex: 1;
    width: 35%;
}
  .center-section { flex: 2; min-width: 40%; }
  .right-section { flex: 1; }


  .personal-details-container {
    display: block;
    align-items: center;
  }

  .portrait-container {
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
    overflow: hidden;
  }

  .portrait-container > img {
    width: 40%;
    order: 1;
    object-fit: cover;
    border-radius: 35px;
    border: 1px solid var(--fg);
  }

  .personal-details {
    order: 2;
    width: 20%;
    padding: auto 0 auto 1ch;
    text-align: left;
    align-items: center;
  }

  .personal-details >  p {
    margin-top: 1em;
    font-family: var(--thin);
    font-weight: 100;
    font-variant: petite-caps;
    margin-left: -166px;
    font-size: 1.1rem;
    color: var(--fg);
    line-height: 1.4;
    text-align: left;
    width: 47.5%;
  }

  .resume-block, .education-block {
    margin-top: 2em;
  }

  .resume-block h3, .education-block h3 {
    margin-bottom: .5em;
    font-size: 1.1rem;
    color: var(--blue);
  }

  #experience-list,
  #education-list {
    display: flex;
    flex-direction: column;
    margin-top: 3ch;

  }

  #experience-list > li,
  #education-list > li {
    margin-bottom: 1em;
    list-style: none;
  }

  #education-list > li {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
  }


  p.experience-year,
  p.education-list-year {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
  }

  p.experience-kind,
  p.education-list-degree {
    font-family: var(--bold);
    font-size: 1.8rem;
    font-variant: petite-caps;
    font-weight: 500;
    color: var(--blue);
    text-align: center;
    letter-spacing: -1px;
}

  p.experience-role {
    text-align: center;
    font-family: var(--bold);
    font-size: 22px;
    margin-bottom: 4ch;
  }

  .experience-skills {
    text-align: justify;
  }

  .education-list-institution {
    text-align: center;
    font-family: var(--regular);
    font-size: 1.2rem;
}

  .intro p,
  .personal-details-intro p {
    font-family: var(--thin);
    font-weight: 200;
    letter-spacing: 0px;;
    font-size: 1rem;
    margin-bottom: .5em;
  }

  .intro p > b,
  .personal-details-intro p > b {
    font-weight: 900;
    color: white;
  }

  .intro .subline,
  .personal-details-intro .personal-details-subline {
    font-size: .9rem;
  }

  .personal-details-intro,
  p.personal-details-subline {
    display:none;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 1em;
    margin-top: 1.8em;
    margin-bottom: 1.8rem;
  }

  .project-box {
    background: var(--banner-bg);
    padding: 1em;
    border-radius: 26px;
    border: 1px solid var(--fg);
    text-align: center;
    transition: transform ease .3s;
  }

  .project-box:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .project-box p.genos {
    font-size: 1.05rem;
    font-family: "Arial Narrow", Arial Narrow, "Helvetica Neue", "impact", sans-serif;
    font-weight: 800;    /* margin-block: .5em; */
  }

  .project-box p.repo-skills {
    font-family: var(--bold);
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    margin-top: 1.3ch;
    font-size: 1.05rem;
  }

  .project-box a {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--blue);
    font-family: var(--regular);
    text-transform: uppercase;
    font-weight: 600;
  }

  /* === RIGHT SECTION LAYOUT === */
  .right-section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 30%;
    margin-right: 0ch;
  }

  .right-section-list {
    margin-top: 3rem;
  }

  .skills-list {
    max-width: 50%;
  }

  .stars_icon {
    width: 40%;
  }

  .skills-icons {
    margin-inline: 4ch;
    max-width: 80%;
  }

  /* Info handle + adresse */
  .info-item {
    display: flex;
    align-items: center;
    gap: 0.75em;
    font-size: 0.9rem;
    color: #444;
  }
  .info-item.handle span {
    font-weight: bold;
    font-size: 1rem;
  }

  /* Chaque bloc (Contact, Compétences, etc.) */
  .block h3 {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 0.5em; */
    font-size: 1.6rem;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--fg);
    /* padding-bottom: 0.3em; */
    margin-bottom: 0.6rem;
    color: var(--yellow);
  }



  .block ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .right-section-list li {
    display: flex;
    justify-content: space-between;
    /* align-content: space-between; */
    margin-bottom: 0.6em;
    font-size: 0.9rem;
    /* color: #555; */
  }

  .block li > span {
    margin-right: auto;
  }

  .skills-list {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--fg);
  }

  .stars-icon-container {
    overflow: hidden;
    max-width: 68%;
    margin-right: -111px;
  }

  .stars-icon-container > img {
    object-fit: cover;
  }

  .interests-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .right-section a {
    color: var(--blue);
    text-decoration: none;
  }

  .right-section a:hover {
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--banner-bg);
    color: var(--bg);
    padding-bottom: 3rem;;
  }

  .contact-block {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-list {
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-list li > a {
    text-decoration: none;
    color: var(--fg);
    font-family: var(--regular);
    font-weight: 500;
  }
  .contact-icon-container {
    max-width: 30px;
    overflow: hidden;
  }

  .contact-icon-container img {
    object-fit: cover;
    width: 30px;
    font-weight: 700;
    font-display: bold;
}

@media screen and (max-width: 1296px ) {
  .skills-list {
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (max-width: 1080px) {
  .banner-main-container {
    height: 135px;
  }
  .banner-title {
    font-size: 4rem;
  }
  .banner-subtitle {
    font-size: 2.3rem;
  }
  .main-container {
    flex-direction: column;
  }
  .left-section, .center-section, .right-section {
    min-width: 100%;
  }
  .personal-details-container {
    flex-wrap: wrap;
    padding: 0 5ch 0 0;
  }

  .personal-details p {
      width: 47.5%;
      margin-left: -392px;
      font-size: 32px;
  }

  .portrait-container img {
    width: 35%;
  }

  .personnal-details-intro,
  .personal-details-subline {
    display: block;
  }

  .intro, .subline {
    display: none;
  }

  .skills-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skills-icons {
    margin-inline: 4ch;
    max-width: 80%;
    margin-block: 35px;
  }
  .skills-block ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .skills-block ul li {
    display: flex;
    justify-content: space-between;
  }
  .skills-block li > span {
    margin-right: auto;
    font-weight: 600;
    font-family: "Genos";
    font-size: 2.6rem;
  }
  .stars_icon {
    width: 40%;
    margin-left: 293px;
  }
  #experience-list {
    text-align: center;
  }
}
